$white-color: #fff;
$primary-blue-color: #2283da;
$light-gray-border-color: #8f8f8f;
$dropdown-window-gray-border-color: #6c6f76;
$dropdown-window-background-color: #464950;
$blue-link-color: #adaeb3;
$input-background-color: #6c6f74;
$input-border-color: #adaeb1;
$input-dark-background-color: #393c41;

$max-dropdown-height: 400px;

.filter-widget {
    position: absolute;
    background: rgba(70, 73, 80, 0.7);
    width: 280px;
    color: $white-color;
    right: 10px;
    top: 10px;
    
    a {
        color: $white-color;
        cursor: pointer;
    }
    
    .filter-widget-header {
        border-bottom: 1px solid $primary-blue-color;
        padding: 20px 9px;
        color: $blue-link-color;
        cursor: move;
        
        a {
            color: $blue-link-color;
        }
        
        span {
            color: $white-color;
            text-transform: uppercase;
            margin-left: 10px;
            font-weight: bold;
        }
    }
    
    .filter-widget-rows {
        .dropdown-menu-row {
            border-bottom: 1px solid $light-gray-border-color;
            padding-left: 28px;
            
            .dropdown-custom-menu {
                border-left: 1px solid $light-gray-border-color;
                padding: 9px 9px;
                background: $dropdown-window-background-color;
                width: 100%;
                
                .filter-widget-row-header-title{
                    text-transform: uppercase;
                    font-weight: bold;
                    float: left;
                }
                
                .filter-widget-row-header-items{
                    color: #76aed4;
                    float: left;
                    margin-left: 10px;
                }
                
                .items-menu {
                    
                    .search-controls {
                        padding: 8px 0 18px;
                        border-bottom: 1px solid $light-gray-border-color;
                        
                        .input-group {
                            
                            .input-group-addon {
                                border: 0px;
                                background: none;
                                color: $blue-link-color;
                                padding-left: 0;
                            }
                            
                            .form-control {
                                border-radius: 0;
                                background: $input-background-color;
                                border: 1px solid $input-border-color;
                                color: $white-color;
                                height: 30px;
                                line-height: 1px;
                                padding: 4px 8px;
                            }
                        }
                        
                        .search-controls-dropdowns {
                            margin-top: 7px;
                            margin-left: 24px;
                            
                            .dropdown-menu {
                                border: 1px solid $light-gray-border-color;
                                background: rgba(0, 0, 0, 0.6);
                                min-width: 40px;
                                
                                &>li>a {
                                    padding: 3px 8px;
                                    color: $white-color;
                                }
                            }
                            
                            button.dropdown-toggle {
                                border-radius: 3px;
                                background: $input-dark-background-color;
                                color: $white-color;
                                padding: 2px 8px;
                                font-size: 12px;
                                margin-right: 8px;
                                
                                span.caret{
                                    display: none;    
                                }
                            }
                        }
                    }
                    
                    &>ul.list-unstyled {
                        margin-top: 18px;
                        max-height: $max-dropdown-height;
                        overflow-y: auto;
                    }
                }

            }
            
            .dropdown-menu {
                background: #464952;
                border: solid 1px $dropdown-window-gray-border-color;
                border-top: 5px solid $primary-blue-color;
                
                >ul.list-unstyled {
                    max-height: $max-dropdown-height;
                    overflow-y: auto;
                }
            }
            
            .filter-checkbox {
                position: relative;
                padding-left: 10px;
                
                input[type="checkbox"] {
                    display: none;
                }
                
                &:before {
                    content: '';
                    display: block;
                    background: $input-background-color;
                    width: 15px;
                    height: 15px;
                    border-radius: 3px;
                    position: absolute;
                    left: 5px;  
                    top: 2px;
                }
                
                &.checked {
                    &:before {
                        background: $white-color;
                    }
                    
                    &:after {
                        content: '\f00c';
                        font-family: FontAwesome;
                        display: block;
                        color: $input-background-color;
                        width: 15px;
                        height: 15px;
                        border-radius: 3px;
                        position: absolute;
                        left: 6px;  
                        top: 2px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
    .filter-widget-footer {
        width: 28px;
        height: 18px;
        border-right: 1px solid $light-gray-border-color;
    }
}
